In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("olcum-degerleri-temizlenmemis-veri.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3972 entries, 0 to 3971
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             3972 non-null   int64
 1   tarih           3972 non-null   object
 2   pm10_(_µg/m3_)  3972 non-null   object
 3   so2_(_µg/m3_)   3972 non-null   object
 4   co_(_µg/m3_)    3972 non-null   object
 5   no2_(_µg/m3_)   3972 non-null   object
 6   nox_(_µg/m3_)   3972 non-null   object
dtypes: int64(1), object(6)
memory usage: 217.3+ KB

In [5]:
data.head()

,_id,tarih,pm10_(_µg/m3_),so2_(_µg/m3_),co_(_µg/m3_),no2_(_µg/m3_),nox_(_µg/m3_)
0,1,2021-01-01T00:00:56,"199,45","26,38","1.728,15","99,36","210,09"
1,2,2021-01-01T01:00:56,"286,38","28,91","2.042,06","80,73","203,42"
2,3,2021-01-01T02:00:56,"232,53","24,06","1.597,76","73,08","115,81"
3,4,2021-01-01T03:00:56,"114,10","21,68","1.614,72","57,34","121,66"
4,5,2021-01-01T04:00:56,"111,00","22,69","2.124,89","85,54","155,35"

In [6]:
data.drop(columns="_id", axis=0, inplace = True)

In [7]:
data.head(5)

,tarih,pm10_(_µg/m3_),so2_(_µg/m3_),co_(_µg/m3_),no2_(_µg/m3_),nox_(_µg/m3_)
0,2021-01-01T00:00:56,"199,45","26,38","1.728,15","99,36","210,09"
1,2021-01-01T01:00:56,"286,38","28,91","2.042,06","80,73","203,42"
2,2021-01-01T02:00:56,"232,53","24,06","1.597,76","73,08","115,81"
3,2021-01-01T03:00:56,"114,10","21,68","1.614,72","57,34","121,66"
4,2021-01-01T04:00:56,"111,00","22,69","2.124,89","85,54","155,35"

In [9]:
data["tarih"] = pd.to_datetime(data["tarih"], format="%Y-%m-%d %H:%M")

In [11]:
data.head(30)

,tarih,pm10_(_µg/m3_),so2_(_µg/m3_),co_(_µg/m3_),no2_(_µg/m3_),nox_(_µg/m3_)
0,2021-01-01 00:00:56,"199,45","26,38","1.728,15","99,36","210,09"
1,2021-01-01 01:00:56,"286,38","28,91","2.042,06","80,73","203,42"
2,2021-01-01 02:00:56,"232,53","24,06","1.597,76","73,08","115,81"
3,2021-01-01 03:00:56,"114,10","21,68","1.614,72","57,34","121,66"
4,2021-01-01 04:00:56,"111,00","22,69","2.124,89","85,54","155,35"
5,2021-01-01 05:00:56,"136,33","18,31","1.494,80","70,96","121,81"
6,2021-01-01 06:00:56,"131,16","14,66","477,09","51,54","77,75"
7,2021-01-01 07:00:56,"109,57","16,89","1.297,46","72,08","114,82"
8,2021-01-01 08:00:56,"90,49","20,18","2.036,76","81,65","228,13"
9,2021-01-01 09:00:56,"188,39","21,93","1.349,80","68,25","167,51"
10,2021-01-01 10:00:56,"206,59","22,88","1.243,34","80,84","161,39"
11,2021-01-01 11:00:56,"264,47","24,36","1.017,10","89,69","129,00"
12,2021-01-01 12:00:56,"315,68","26,86","404,12","56,58","71,77"
13,2021-01-01 13:00:56,"179,65","16,05","0,27","37,78","41,33"
14,2021-01-01 14:00:56,"114,63","11,35","0,00","27,07","28,71"
15,2021-01-01 15:00:56,"66,24","8,23","0,00","25,04","26,49"
16,2021-01-01 16:00:56,"60,13","8,68","0,00","26,53","27,80"
17,2021-01-01 17:00:56,"58,05","10,41","86,74","51,86","57,34"
18,2021-01-01 18:00:56,"130,09","15,89","752,94","84,12","136,64"
19,2021-01-01 19:00:56,"182,66","21,26","1.146,12","104,60","154,14"
20,2021-01-01 20:00:56,"213,22","28,22","1.994,31","108,16","202,90"
21,2021-01-01 21:00:56,"252,97","29,51","1.583,71","76,49","176,36"
22,2021-01-01 22:00:56,"216,01","25,30","1.538,48","62,65","118,02"
23,2021-01-01 23:00:56,"151,68","17,90","1.421,70","73,55","96,55"
24,2021-02-01 00:00:56,"122,74","19,56","2.072,67","61,35","105,39"
25,2021-02-01 01:00:56,"138,31","14,51","1.709,91","69,90","113,61"
26,2021-02-01 02:00:56,"154,59","17,50","1.837,48","72,49","110,38"
27,2021-02-01 03:00:56,"117,01","13,41","2.239,45","64,81","109,18"
28,2021-02-01 04:00:56,"120,87","13,25","1.128,28","52,55","64,71"
29,2021-02-01 05:00:56,"66,45","10,21","1.189,53","45,95","57,79"

In [17]:
data.rename(columns={"tarih" : "tarih_ve_saat"}, inplace=True)
data.rename(columns={"pm10_(_µg/m3_)" : "pm10(µg/m3)"}, inplace=True)
data.rename(columns={"so2_(_µg/m3_)" : "so2(µg/m3)"}, inplace=True)
data.rename(columns={"co_(_µg/m3_)" : "co(µg/m3)"}, inplace=True)
data.rename(columns={"no2_(_µg/m3_)" : "no2(µg/m3)"}, inplace=True)
data.rename(columns={"nox_(_µg/m3_)" : "nox(µg/m3)"}, inplace=True)

In [18]:
data.head()

        tarih_ve_saat pm10(µg/m3) so2(µg/m3) co(µg/m3) no2(µg/m3) nox(µg/m3)
0 2021-01-01 00:00:56      199,45      26,38  1.728,15      99,36     210,09
1 2021-01-01 01:00:56      286,38      28,91  2.042,06      80,73     203,42
2 2021-01-01 02:00:56      232,53      24,06  1.597,76      73,08     115,81
3 2021-01-01 03:00:56      114,10      21,68  1.614,72      57,34     121,66
4 2021-01-01 04:00:56      111,00      22,69  2.124,89      85,54     155,35

In [ ]:
data[["pm10(µg/m3", "so2(µg/m3)", "co(µg/m3)", "no2(µg/m3)", "nox(µg/m3)"]] = data[["pm10(µg/m3", "so2(µg/m3)", "co(µg/m3)", "no2(µg/m3)", "nox(µg/m3)"]].astype(str)